<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/schema/security">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<!-- <link rel="stylesheet" href="../../css/bootstrap.min.css" > -->
 <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
   <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
   <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	
	<!-- Navigation -->
	<div th:replace="fragments/fragment.html :: navigation"></div>
	
	
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Bid Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${bidList}">
					<td th:text="${b.BidListId}"></td>
					<td th:text="${b.account}"></td>
					<td th:text="${b.type}"></td>
					<td th:text="${b.bidQuantity}"></td>
					<td> 
						<a th:href="'/bidList/update/' + ${b.BidListId}" class = "btn btn-info">Edit</a>
						<a th:href="'/bidList/delete/' + ${b.BidListId}" class = "btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>